Team 3 Week 3 Assignment COT6481 CMB25Spring

Q1. Import Pandas as pd

In [35]:
# import library
import pandas as pd

Q2. Read Salaries.csv as a dataframe called df

In [36]:
# read csv file, use low_memory so jupyter can handle the large file size without timing out
df = pd.read_csv('Salaries.csv', low_memory=False)

Q3. Check the head of the DataFrame

In [37]:
# display the head of the dataframe
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Q4. Use one of the pandas methods to find out how many entries there are.

In [38]:
# using info shows there are 148,654 entries
df.info

<bound method DataFrame.info of             Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle       BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)     155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)     212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC       77916.0
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      134401.6
...                                                ...           ...
148649                                       Custodian          0.00
148650                                    Not provided  Not Provided
148651                                    Not provided  Not Provided
148652                                    Not provided  Not Provided
148653                      Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits   TotalPay  TotalPayBenefits  \
0                0.0     400184.25           NaN  567595.43         567595.43
1          245131.88     137811.38           NaN  538909.28         538909.28
2          106088.18       16452.6           NaN  335279.91         335279.91
3           56120.71      198306.9           NaN  332343.61         332343.61
4             9737.0     182234.59           NaN  326373.19         326373.19
...              ...           ...           ...        ...               ...
148649          0.00          0.00          0.00       0.00              0.00
148650  Not Provided  Not Provided  Not Provided       0.00              0.00
148651  Not Provided  Not Provided  Not Provided       0.00              0.00
148652  Not Provided  Not Provided  Not Provided       0.00              0.00
148653          0.00       -618.13          0.00    -618.13           -618.13

        Year  Notes         Agency Status
0       2011    NaN  San Francisco    NaN
1       2011    NaN  San Francisco    NaN
2       2011    NaN  San Francisco    NaN
3       2011    NaN  San Francisco    NaN
4       2011    NaN  San Francisco    NaN
...      ...    ...            ...    ...
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

[148654 rows x 13 columns]>

In [39]:
# shape is an alternative to show the number of rows/columns without the additional detail that info provides.
df.shape

(148654, 13)

Q5. What is the average BasePay? Note: You may need to find out the code that skips the string values. Do not manually delete those string data from the csv file.

In [40]:
# to_numeric to ensure values are read as numbers in the base pay column and using errors=coerce to ignore NAs
df['BasePay']=pd.to_numeric(df['BasePay'], errors='coerce')
df['BasePay'].mean()

np.float64(66325.4488404877)

Q6. What is the highest amount of OvertimePay in the dataset?

In [41]:
# to_numeric to ensure values are read as numbers in the base pay column and using errors=coerce to ignore NAs
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
df['OvertimePay'].max()

np.float64(245131.88)

Q7.What is the job title of JOSEPH DRISCOLL? Note: Use all caps, otherwise you may get an answer that doesn't match up (There might be also a lowercase Joseph Driscoll).

In [42]:
# used name in all caps to search employee name colum and find the corresponding job title, included error handling in case name was not found
name = 'JOSEPH DRISCOLL'
job_title = df[df['EmployeeName'] == name]['JobTitle'].values

if len(job_title) > 0:
    print(f"{name}'s job title is: {job_title[0]}")
else:
    print(f"Employee {name} not found.")

JOSEPH DRISCOLL's job title is: CAPTAIN, FIRE SUPPRESSION

Q8. How much does JOSEPH DRISCOLL make (total pay benefits)?

In [43]:
# used name in all caps to search employee name colum and find the corresponding TotalPayBenefits, included error handling in case name was not found
total_pay_benefits = df[df['EmployeeName'] == name]['TotalPayBenefits'].values


if len(total_pay_benefits) > 0:
    print(f"{name}'s TotalPayBenefits is: {total_pay_benefits[0]}")
else:
    print(f"Employee {name} not found.")

JOSEPH DRISCOLL's TotalPayBenefits is: 270324.91

Q9. What is the name of highest paid person (total pay benefits)? Suggested solution: sort_values()

In [44]:
# sorted the dataframe descending by TotalPayBenefits to locate the highest paid person
df_sorted = df.sort_values(by='TotalPayBenefits', ascending=False)


highest_paid_person = df_sorted.iloc[0]['EmployeeName']
highest_paid_amount = df_sorted.iloc[0]['TotalPayBenefits']

print(f"The highest paid person is: {highest_paid_person} with a TotalPayBenefits of: {highest_paid_amount}")

The highest paid person is: NATHANIEL FORD with a TotalPayBenefits of: 567595.43

Q10. What is the name of the lowest paid person (total pay benefits)? Do you notice something strange about how much he or she is paid?

In [45]:
# sorted the dataframe ascending by TotalPayBenefits to locate the lowest paid person
# we noticed that they have a negative amount in TotalPayBenefits. 
df_sorted = df.sort_values(by='TotalPayBenefits', ascending=True)

lowest_paid_person = df_sorted.iloc[0]['EmployeeName']
lowest_paid_amount = df_sorted.iloc[0]['TotalPayBenefits']

print(f"The lowest paid person is: {lowest_paid_person} with a TotalPayBenefits of: {lowest_paid_amount}")

The lowest paid person is: Joe Lopez with a TotalPayBenefits of: -618.13

Q11. What was the average (mean) TotalPay of all employees per year? (2011-2014)?

In [46]:
# filtered the dataframe to only show the requested years and then grouped by year and used mean to get average
df_filtered = df[df['Year'].between(2011, 2014)]

average_totalpay_per_year = df_filtered.groupby('Year')['TotalPay'].mean()

print(average_totalpay_per_year)

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

Q12. How many unique job titles are there?

In [47]:
# used .nunique to fined unique entries on the JobTitle column
unique_job_titles = df['JobTitle'].nunique()

print(f"There are {unique_job_titles} unique job titles.")

There are 2159 unique job titles.

Q13. What are the top 5 most common jobs?

In [48]:
# value count and head on the JobTitle column to find the 5 most common job titles
top_5_jobs = df['JobTitle'].value_counts().head(5)

print("Top 5 most common job titles:")
print(top_5_jobs)

Top 5 most common job titles:
JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

Q14. How many people have the word Chief in their job title?

In [49]:
# used str.contains on the JobTitle column to find the number of people with Chief in their title
chief_count = df[df['JobTitle'].str.contains('Chief', case=False, na=False)].shape[0]

print(f"Number of people with 'Chief' in their job title: {chief_count}")

Number of people with 'Chief' in their job title: 627

Q15. Is there a correlation between length of the Job Title string and Salary (TotalPayBenefits)? Write down your answer as a comment after coding.

In [50]:
df['JobTitleLength'] = df['JobTitle'].str.len()

correlation = df['JobTitleLength'].corr(df['TotalPayBenefits'])

print(f"Correlation between Job Title length and Total Pay Benefits: {correlation}")

Correlation between Job Title length and Total Pay Benefits: -0.03687844593260671

### With a correlation score close to zero, the correlation between Job Title length and Total Pay Benefits is not significant.